# requirements.txt

fastapi
uvicorn
pydantic
llama-index-core
llama-index-cli
llama-index-llms-openai
llama-index-vector-stores-qdrant
llama-index-llms-ollama
llama-index-embeddings-ollama
openai
qdrant-client
langchain-core
langchain-ollama
langgraph
matplotlib
seaborn
statsmodels
httpx
python-multipart
black
ruff
mypy
sniffio
anyio
starlette
jiter
